
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'publications' %}">Все публикации</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if request.user.is_authenticated %}
        <span class="navbar-text" style="padding-right: 20px;">
          Добро пожаловать, {{ request.user }}
        </span>
        <a class="nav-item nav-link" href="{% url 'publications-my' %}">Мои публикации</a>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Войти</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </nav>

