{% extends 'main.html' %}
{% block content %}


<h3>{{ publication }}</h3>

<h4>Ключевые слова:</h4>
<ul>
  {% for keyword in publication.keyword.all %}
    <li>{{ keyword.name }}</li>
  {% endfor %}
</ul>
<h4>Тип публикации</h4>
{{ publication.publication_type }}

<h4>Автор</h4>
{{ publication.author.name }}

<h4>Название публикации</h4>
{{ publication.title }}

{% if publication.file_path %}
<h4>Файл</h4>
<a href="{{ publication.file_path.url }}">Открыть PDF</a>
{% endif %}

{% if publication.coauthor.exists %}
<h4>Соавтор(ы)</h4>
<ul>
  {% for coauthor in publication.coauthor.all %}
    <li>{{ coauthor.name }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if publication.editor.exists %}
<h4>Редактор(ы)</h4>
<ul>
  {% for editor in publication.editor.all %}
    <li>{{ editor.name }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if publication.collectioneditor.exists %}
<h4>Редактор(ы) серии</h4>
<ul>
  {% for collectioneditor in publication.collectioneditor.all %}
    <li>{{ collectioneditor.name }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if publication.reviewedauthor.exists %}
<h4>Реценз. автор</h4>
<ul>
  {% for reviewedauthor in publication.reviewedauthor.all %}
    <li>{{ reviewedauthor.name }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if publication.translator.exists %}
<h4>Переводчик(и)</h4>
<ul>
  {% for translator in publication.translator.all %}
    <li>{{ translator.name }}</li>
  {% endfor %}
</ul>
{% endif %}


{% if publication.journal %}
<h4>Журнал:</h4>
  <p>Название журнала: {{ publication.journal.name }}</p>
  <p>ISSN: {{ publication.journal.ISSN }}</p>
{% endif %}

{% if publication.event %}
<h4>Конференция</h4>
{{ publication.event.name }}
{% endif %}

{% if publication.book %}
<h4>Наименование книги</h4>
{{ publication.book.title }}
{% endif %}

{% if publication.publisher %}
<h4>Издатель</h4>
<p>Наименование издателя: {{ publication.publisher.name }}</p>
<p>Адрес: {{ publication.publisher.address }}</p>

{% endif %}


{% if publication.abstract %}
<h4>Выдержка (Аннотация)</h4>
{{ publication.abstract }}
{% endif %}

{% if publication.archive %}
<h4>Архив</h4>
{{ publication.archive }}
{% endif %}

{% if publication.archive_location %}
<h4>Место в архиве</h4>
{{ publication.archive_location }}
{% endif %}


{% if publication.call_number %}
<h4>Шифр</h4>
{{ publication.call_number }}
{% endif %}

{% if publication.collection_number %}
<h4>Шифр</h4>
{{ publication.collection_number }}
{% endif %}

{% if publication.collection_title %}
<h4>Название серии</h4>
{{ publication.collection_title }}
{% endif %}

{% if publication.container_title %}
<h4>Название трудов конференции/энциклопедии/газеты</h4>
{{ publication.container_title }}
{% endif %}

{% if publication.edition %}
<h4>Номер издания</h4>
{{ publication.edition }}
{% endif %}

{% if publication.genre %}
<h4>Вид издания</h4>
{{ publication.genre }}
{% endif %}

{% if publication.issue %}
<h4>Выпуск</h4>
{{ publication.issue }}
{% endif %}

<h4>Дата издания</h4>
<p>{% if publication.day %}
{{ publication.day }}
.
{% endif %}
{% if publication.month %}
{{ publication.month }}
.
{% endif %}
{% if publication.year %}
{{ publication.year }}
 г.
{% endif %}
</p>

{% if publication.language %}
<h4>Язык</h4>
{{ publication.language }}
{% endif %}

{% if publication.medium %}
<h4>Система</h4>
{{ publication.medium }}
{% endif %}

{% if publication.number_of_pages %}
<h4>Число страниц</h4>
{{ publication.number_of_pages }}
{% endif %}

{% if publication.number_of_volumes %}
<h4>Кол-во томов</h4>
{{ publication.number_of_volumes }}
{% endif %}

{% if publication.page %}
<h4>Страницы</h4>
{{ publication.page }}
{% endif %}

{% if publication.section %}
<h4>Раздел</h4>
{{ publication.section }}
{% endif %}

{% if publication.source %}
<h4>Библ. каталог</h4>
{{ publication.source }}
{% endif %}

{% if publication.title_short %}
<h4>Название тома в многотомнике</h4>
{{ publication.title_short }}
{% endif %}

{% if publication.version %}
<h4>Версия</h4>
{{ publication.version }}
{% endif %}

{% if publication.volume %}
<h4>Том</h4>
{{ publication.volume }}
{% endif %}

{% if publication.ISBN %}
<h4>ISBN</h4>
{{ publication.ISBN }}
{% endif %}

{% if publication.note %}
<h4>Заметка</h4>
{{ publication.note }}
{% endif %}


{% if publication.URL %}
  <h3>URL:</h3>
  <p><a href="{{ publication.URL }}">{{ publication.URL }}</a></p>
{% endif %}


{% if publication.DOI %}
<h4>DOI</h4>
{{ publication.DOI }}
{% endif %}

{% if publication.bibtex %}
<h4>bibtex</h4>
{{ publication.bibtex }}
{% endif %}

{% if publication.gost2018 %}
<h4>ГОСТ Р 7.0.100–2018</h4>
{{ publication.gost2018 }}
{% endif %}

{% endblock content %}